:root {
    --text-color: white;
    --text-background-color: brown;
}

#kfc-logo {
    width: 100px;
    height: 100px;
}

#kfc-heading {
    color: var(--text-color);
    background-color: red;
}

#main-menus-bar a {
    font-size: 20px;
}

#about {
    font-size: 30px;
    color: var(--text-color);
    background-color: var(--text-background-color);    
}

#about h2 {
    font-size: 40px;
    text-align: center;
}

#about p {
    text-align: justify;
    font-size: 30px;
}

#about p span {
    color: black;
}

#about img {
    width: 50%;
}

#milestones {
    color: var(--text-color);
    background-color: var(--text-background-color);   
}

#milestones h1 {
    text-align: center;
    font-size: 40px;
}

#milestones ul li {
    font-size: 25px;
}

#milestones img {
    width: 50%;
}

#drinks-menu h1 {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

#green-tea {
    background-image: url("./img/greentea.jpg");
}

#black-tea {
    background-image: url("./img/blacktea.jpg");
}

#olong-tea {
    background-image: url("./img/olongtea.jpg");
}

#fruit-tea {
    background-image: url("./img/fruit.jpg");
}

#milk-tea {
    background-image: url("./img/milktea.png");
}

#news-poster {
    width: 60%;
    background-color: white;
    font-size: 20px;
}

.gray-background-color {
    background-color: gray;
}

#news-poster h1 {
    text-align: center;
    font-size:40px;
    color:brown
}